*{
    background: lightslategray;
    color: white;
    justify-content: center;
    align-items: center;
}

#container{
    width: 100vw;
    margin: 0;
    padding: 0;
}

#tit{
    margin-top: 50px;
}

#cost-tab{
    border-width: 1px;
    border-style: solid ;
    border-color: green;
}

th{
    border-width: 1px;
    border-style: solid ;
    border-color: green;
    padding: 8px;
}

td {
    padding: 8px;
    border-width: 1px;
    border-style: solid ;
    border-color: green;
}

.thanhfix{
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    height: 48px;
    font-size: 40px;
    color: blue;
    background-color: violet;
}

.returning-button{
    box-sizing: border-box;
    width: 732px;
    text-align: center;
    text-decoration: none;
    padding: 2vh 2vw;
    margin-top: 16px;
    color: #fffff8;
    font-size: 24px;
    font-weight: 700;
    opacity: 0.6;
}
.returning-button:hover{
    cursor: pointer;
    opacity: 1;
}